<div>
  {{#each products}}
      <div >
        <h2>{{title}}</h2>
        <div class="product-details">
          <div>
            <img style="width: 100px; max-height: 100px" src={{thumbnail}}/>
          </div>
          <div>
            <p>{{description}}</p>
            <p>ID: {{id}}</p>
            <p>Código: {{code}}</p>
            <p>Categoría: {{category}}</p>
            <p>Stock: {{stock}}</p>
            <p>Precio: USD ${{price}}</p>
            <p>Status: {{status}}</p>
          </div>
        </div>
      </div>
  {{/each}}
</div>